/* --------------------------
  Base
--------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  grid-template-areas: 
    "header"
    "navigation"
    "main";
}

h2, h3 {
  line-height: 1.6rem;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}


/* --------------------------
  Header Styles
--------------------------- */

.header {
  background-color: #7477bf;
  color: white;
  grid-area: header;
  padding: 0 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trademark {
  font-weight: 200;
}

.header h1,
.header h3 {
  text-transform: none;
}

.header h1 {
  font-size: 1.125em;
  font-weight: 400;
}

.header h3 {
  font-size: .75em;
}

.header-user-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-notifications {
  margin-right: 15px;
  position: relative;
}
.notifications-icon {
  height: 25px;
  width: 25px;
  fill: white;
}

.notifications-dot {
  position: absolute;
  top: -0px;
  right: 0px;
  transform: translateY(-8px);
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

.header-avatar img {
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.header-avatar {
  border-left: 2px solid #a7a9bf;
}


/* --------------------------
  Navigation Menu Styles
--------------------------- */

nav {
  background-color: #4d4c72;
  grid-area: navigation;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-icon {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}


/* --------------------------
  Dashboard Styles
--------------------------- */

main {
  display: grid;
  grid-area: main;
}

.main-header {
  height: 60px;
  width: 100%;
  display: flex;
}

.headline {
  font-size: 1em;
  font-weight: 400;
  margin-top: 20px;
  padding: 0 10px;
}

.tab {
  background-color: #f7f7f7;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  height: 100%;
  width: 100%;
}

canvas {
  max-width: 100%;
}

.chart-container-full,
.chart-container-half {
  width: 95vw;
}

/*Traffic Section*/

.traffic-header h3 {
  font-weight: 300;
  margin: 0 auto;
  padding-left: 10px;
}

.traffic-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 0;
}

.traffic-nav li {
  cursor: pointer;
}

.active {
  background-color: #81c98f;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
}

.social-image,
.profile-image {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.social-image {
  background-color: #7477bf;
}

.social-icon {
  fill: white;
}

.toggle-btn {
  width: 100px; 
}

/*Social Media SVGs*/
.is-off-screen {
  height: 0;
  width: 0;
}


/* --------------------------
  Media Queries
--------------------------- */
@media (min-width:  768px) {
  .grid-container {
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .header {
    padding: 0;
  }

  .header h1 {
    font-size: 2em;
    margin-left: 25px;
  }

  .header h3 {
    font-size: 1em;
  }

  .header-user-block {
    margin-right: 25px;
  }

  .notifications-icon {
    height: 40px;
    width: 40px;
  }

  .notifications-dot {
    transform: translateY(-10px);
    padding: 4px;
  }

  .header-avatar img {
    height: 60px;
    width: 60px;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-icon {
    height: 60px;
    width: 60px;
    margin-top: 20px;
  }

  /*Dashboard Styles*/
  main {
    grid-template-columns: 50%;
  }

  .main-header {
    grid-column: 1 / span 2;
    height: 80px;
  }

  .alert {
    grid-column: 1 / span 2;
  }

  .headline {
    font-size: 1.5em;
    padding: 0 25px;
  }

  .traffic, 
  .social {
    grid-column: 1 / span 2;
  }

  .daily, 
  .members, 
  .message {
    grid-column: 1 / span 1;
  }

  .mobile,
  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .chart-container-full {
    width: 80vw;
  }

  .chart-container-half {
    width: 40vw;
  }

  /*Traffic Section*/

  .traffic-header h3 {
    padding-left: 25px;
  }
}
