/* --------------------------
  Base
--------------------------- */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-areas: 
    "header"
    "navigation"
    "main";
}

h2, h3 {
  line-height: 1.6rem;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
}

p {
  font-size: 1em;
}


/* --------------------------
  Header Styles
--------------------------- */

.header {
  background-color: #7477bf;
  color: white;
  grid-area: header;
  padding: 0 10px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trademark {
  font-weight: 200;
}

.header h1,
.header h3 {
  text-transform: none;
}

.header h1 {
  font-size: 1.125em;
  font-weight: 400;
}

.header h3 {
  font-size: .75em;
}

.header-user-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.header-notifications {
  margin-right: 15px;
  position: relative;
}

.notifications-icon {
  height: 25px;
  width: 25px;
  fill: white;
}

.notifications-dot {
  position: absolute;
  top: -0px;
  right: 0px;
  transform: translateY(-8px);
  padding: 3px;
  background-color: white;
  border-radius: 50%;
}

.header-avatar img {
  border-radius: 50%;
  margin: 10px;
  height: 40px;
  width: 40px;
}

.header-avatar {
  border-left: 2px solid #a7a9bf;
}


/* --------------------------
  Navigation Menu Styles
--------------------------- */

nav {
  background-color: #4d4c72;
  grid-area: navigation;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-icon {
  height: 40px;
  width: 40px;
  margin-top: 10px;
}


/* --------------------------
  Dashboard Styles
--------------------------- */

main {
  display: grid;
  grid-area: main;
}

.main-header {
  height: 60px;
  width: 100%;
  display: flex;
}

.headline {
  font-size: 1em;
  font-weight: 400;
  margin-top: 20px;
  padding: 0 10px;
}

.tab {
  background-color: #f7f7f7;
  border-bottom: 2px solid #cccccc;
  border-left: 2px solid #cccccc;
  height: 100%;
  width: 100%;
}

canvas {
  max-width: 100%;
}

.chart-container-full,
.chart-container-half {
  width: 95vw;
}

/*Section Headers*/
.traffic-header h3,
.daily h3,
.mobile h3,
.social h3,
.members h3,
.recent-activity h3,
.message h3,
.settings h3 {
  font-weight: 300;
  margin: 0 auto;
  padding-left: 10px;
}

.daily,
.mobile,
.social,
.members,
.recent-activity,
.message,
.settings {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

/*Traffic Section*/
.traffic-nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 0;
}

.traffic-nav li {
  cursor: pointer;
}

.active {
  background-color: #81c98f;
  border-radius: 20px;
  color: white;
  padding: 5px 15px;
}


/* --------------------------
  Social Media Styles
--------------------------- */
.social {
  margin-bottom: 10px;
}

.social-image,
.profile-image {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.social-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
}

.social-image {
  background-color: #7477bf;
  margin: 20px 10px 20px 10px;
  overflow: hidden;
  align-self: start;
}

.social-icon {
  fill: white;
  overflow: hidden;
  position: relative;
  top: 25%;
  left: 25%;
}

.social-text {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 20px;
}

.social-text p:first-child {
  color: #7477bf;
  font-weight: 400;
  line-height: 1rem;
  margin: 0;
}

.social-text p:last-child {
  color: #777777;
  font-weight: 200;
  font-size: 2.5em;
  margin: -15px 0 auto;
}

.toggle-btn {
  width: 100px; 
}

/*Social Media SVGs*/
.is-off-screen {
  height: 0;
  width: 0;
}


/*--------------------------------------
  New Members & Recent Activity Styles
-------------------------------------- */

.members-container,
.recent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.members-container:last-child,
.recent-container:last-child {
  border-bottom: none;
}

.profile-image {
  margin: 15px 0;
}

.members-container a {
  color: #7477bf;
  font-weight: 200;
  text-decoration: none;
}

.members-container a:hover {
  font-weight: 300;
}

.members-container p,
.recent-post {
  font-weight: 200;
  line-height: .5rem;
  margin: 0;
}

.members-container p:last-child,
.recent-post {
  padding-bottom: 20px;
}

.members-info,
.recent-post {
  margin: auto;
  text-align: center;
}

.recent-post {
  font-size: .85em;
  line-height: 1rem;
  margin: -10px 0 0;
  width: 100%;
}

.recent-post p {
  margin: 0;
}

.post-title {
  font-weight: 400;
}

.arrow {
  line-height: 0;
  margin: 0;
  visibility: hidden;
}


/* --------------------------
  Media Queries
--------------------------- */
@media (min-width:  768px) {
  .grid-container {
    grid-template-columns: 120px 1fr;
    grid-template-areas:
      "header header"
      "navigation main";
  }

  .header {
    padding: 0;
  }

  .header h1 {
    font-size: 2em;
    margin-left: 25px;
  }

  .header h3 {
    font-size: 1em;
  }

  .header-user-block {
    margin-right: 25px;
  }

  .notifications-icon {
    height: 40px;
    width: 40px;
  }

  .notifications-dot {
    transform: translateY(-10px);
    padding: 4px;
  }

  .header-avatar img {
    height: 60px;
    width: 60px;
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-icon {
    height: 60px;
    width: 60px;
    margin-top: 20px;
  }

  /*Dashboard Styles*/
  main {
    grid-template-columns: 50%;
  }

  .main-header {
    grid-column: 1 / span 2;
    height: 80px;
  }

  .alert {
    grid-column: 1 / span 2;
  }

  .headline {
    font-size: 1.5em;
    padding: 0 25px;
  }

  .traffic, 
  .social,
  .members, 
  .recent-activity,
  .message,
  .settings {
    grid-column: 1 / span 2;
  }

  .daily {
    grid-column: 1 / span 1;
  }

  .mobile {
    grid-column: 2 / span 1;
  }

  .chart-container-full {
    width: 80vw;
  }

  .chart-container-half {
    width: 40vw;
  }

  /*Section Headers*/
  .traffic-header h3,
  .daily h3,
  .mobile h3,
  .social h3,
  .members h3,
  .recent-activity h3,
  .message h3,
  .settings h3 {
    padding-left: 25px;
  }

  /*Social Media Section*/
  .social-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 20px 20px 25px;
  }

  .social-container {
    margin: 0 5px 0 0;
  }

  /*New Members Section*/
  .members-container,
  .recent-container {
    flex-direction: row;
    margin: 0 25px;
  }

  .members-container p:last-child,
  .recent-post {
    padding: 0;
  }

  .members-info,
  .recent-post {
    margin-left: 10px;
    text-align: left;
  }

  .recent-post {
    margin-top: 5px;
  }

  .arrow {
    visibility: visible;
  }
}

@media (min-width: 1024px) {
  .members, 
  .message {
    grid-column: 1 / span 1;
  }

  .recent-activity,
  .settings {
    grid-column: 2 / span 1;
  }

  .social-wrapper {
    margin: 0 15px 20px 25px;
  }

  .social-container {
    margin: 0 10px 0 0;
  }

  /*New Members Section*/
  .members {
    border-right: 1px solid #ccc;
  }

  .members-container {
    margin: 0 25px;
  }
}

