html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Martel Sans', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
}

h3 {
  text-transform: uppercase;
}

.header {
  background-color: #7477bf;
  color: white;
  padding: 0 30px;
  width: 100%;
}

.header h1,
.header h3 {
  font-weight: 300;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.header li:first-child {
  margin-right: auto;
}

.header-notifications {
  margin-right: 40px;
  position: relative;
}
.notifications-icon {
  height: 60px;
  width: 60px;
  fill: white;
}

.notifications-dot {
  position: absolute;
  top: -0px;
  right: 0px;
  transform: translateY(-55px);
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}

.header-avatar img {
  border-radius: 50%;
  margin-left: 15px;
  padding: 15px;
  height: 120px;
  width: 120px;
}

.header-avatar p {
  border-left: 2px solid #a7a9bf;
}

nav {
  background-color: #4d4c72;
}

.nav-icon {
  height: 40px;
  width: 40px;
}

.social-image {
  background-color: #7477bf;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.social-icon {
  fill: white;
}